// next-ui

$primary: hsl(var(--nextui-primary));
$background: hsl(var(--nextui-background));
$foreground: hsl(var(--nextui-foreground));
$secondary: hsl(var(--nextui-secondary));
$divider: hsl(var(--nextui-divider));
$success: hsl(var(--nextui-success));
$warning: hsl(var(--nextui-warning));
$danger: hsl(var(--nextui-danger));
$default: hsl(var(--nextui-default));

// my
