$basePadding: 1rem;

$pageContentWidth: 1024px;

$pageHeaderMargin: $basePadding;
$pageHeaderHeight: 60px;
$pageHeaderOffset: calc($pageHeaderHeight + (2 * $pageHeaderMargin));
$pageHeaderWidth: calc($pageContentWidth - (2 * $pageHeaderMargin));

$mobileWidth: 768px;
