$baseSize: 12pt;

@function fontSize($value: 1) {
  @return $baseSize * $value;
}

@mixin xs() {
  font-size: fontSize();
  line-height: fontSize(1.2);
}

@mixin sm() {
  font-size: fontSize(1.5);
  line-height: fontSize(1.8);
}

@mixin md() {
  font-size: fontSize(2);
  line-height: fontSize(2.4);
}

@mixin lg() {
  font-size: fontSize(2.5);
  line-height: fontSize(3);
}

@mixin xl() {
  font-size: fontSize(3);
  line-height: fontSize(3.6);
}
