@import '../../../styles/lib';
@import '../../../styles/vars';

.contact-block {
  @include flex(row, flex-start, center);
  height: 3rem;

  &__info {
    width: calc(100% - 4rem);
    word-wrap: break-word;
  }

  & p {
    margin: 0;
    max-width: inherit;
  }

  &__name:first-letter {
    text-transform: capitalize;
  }

  &__icon {
    color: $accent;
    margin-right: 0.6rem;
    width: 1.2rem;
    text-align: center;
  }
}