@use 'styles/lib' as lib;
@use 'styles/colors' as colors;
@use 'styles/layout' as layout;
@use 'styles/fonts/aquire' as aquire;

.container {
  padding: layout.$pageHeaderMargin;
  @include lib.flex(column, center, center);
  color: colors.$foreground;
  position: relative;
  background: linear-gradient(colors.$background, colors.$default);
}

.content {
  margin: 0 auto;
  width: layout.$pageHeaderWidth;
  @include lib.flex(column, center, center);

  @include lib.media($max: layout.$pageContentWidth) {
    width: 100%;
  }
}

.brand {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  @include aquire.regular;
}

.nav {
  padding: 0.2rem;
  @include lib.flex(row);

  &Item {
    margin: 0 0.5rem;
  }
}
