@use 'styles/lib' as lib;
@use 'styles/text' as text;
@use 'styles/layout' as layout;

.section {
  margin: 0 auto;
  padding: layout.$pageHeaderOffset layout.$pageHeaderMargin layout.$pageHeaderMargin;
  max-width: layout.$pageContentWidth;
  min-height: 100vh;
  @include text.md;

  @include lib.mobile() {
    @include text.sm;
  }
}
