$accent: #273bc9;
$main: white;
$primary: black;
$secondary: #555;
$divider: #999;
$hover: rgba(0, 0, 0, 0.1);

$paperWidth: 21cm;
$paperHalfWidth: calc($paperWidth / 2);
$paperPadding: 1cm;
$smallerThanA4: 15cm;
$photoSize: 6rem;
