@import '../../styles/vars';
@import '../../styles/shared';

a {
  color: inherit;
  text-decoration: none;
  display: block;
  box-shadow: initial;

  &:hover {
    box-shadow: -2px 2px 4px 2px $hover;
    transform: scale(1.2);
  }
}
