<main class="app-page">
  <div class="content-wrapper">
    <div class="app-page__wrapper">
      <header></header>
      <div class="app-page__container">
        <aside class="app-page__row app-page__aside"></aside>
        <article class="app-page__row app-page__article"></article>
      </div>
    </div>
  </div>
  <span id="prev-nav-anchor" class="app-page__nav-anchor app-page__nav-anchor--left link"
    >{{prevPage}}</span
  >
  <span id="next-nav-anchor" class="app-page__nav-anchor app-page__nav-anchor--right link"
    >{{nextPage}}</span
  >
</main>
