<section class="cv-section flex flex-col w-full">
  <ng-container *ngIf="section; then contentProvided; else contentMissing"></ng-container>
</section>

<ng-template #contentProvided>
  <h3 class="cv-section__header uppercase text-xl font-medium border-b-2 border-solid mb-1">
    {{ section?.type }}
  </h3>
  <div class="my-1 font-medium text-xs" [ngSwitch]="section?.type">
    <ng-container *ngSwitchCase="CvSectionTypeEnum.CONTACTS">
      @for (contact of contacts; track contact) {
        <app-cv-contact [contact]="contact" />
      }
    </ng-container>

    <ng-container *ngSwitchCase="CvSectionTypeEnum.SKILLS">
      <app-cv-grouped-list [groups]="skillGroups" />
    </ng-container>

    <ng-container *ngSwitchCase="CvSectionTypeEnum.CERTIFICATIONS">
      @for (certificate of certificates; track certificate) {
        <app-cv-certificate [certificate]="certificate" />
      }
    </ng-container>

    <ng-container *ngSwitchCase="CvSectionTypeEnum.LANGUAGES">
      @for (language of languages; track language) {
        <app-cv-language [language]="language" />
      }
    </ng-container>

    <ng-container *ngSwitchCase="CvSectionTypeEnum.SUMMARY">
      @for (paragraph of paragraphs; track paragraph) {
        <app-cv-paragraph [text]="paragraph" />
      }
    </ng-container>

    <ng-container *ngSwitchCase="CvSectionTypeEnum.EXPERIENCE">
      @for (experience of experienceItems; track experience) {
        <app-cv-experience [experience]="experience" />
      }
    </ng-container>

    <ng-container *ngSwitchCase="CvSectionTypeEnum.EDUCATION">
      @for (education of educationItems; track education) {
        <app-cv-education [education]="education" />
      }
    </ng-container>

    <ng-container *ngSwitchCase="CvSectionTypeEnum.PROJECTS">
      <app-cv-project-list [projects]="projects" />
    </ng-container>

    <p *ngSwitchDefault>Content type not supported yet...</p>
  </div>
</ng-template>

<ng-template #contentMissing></ng-template>
