@use 'styles/lib' as lib;
@use 'styles/colors' as colors;
@use 'styles/layout' as layout;
@use 'styles/fonts/aquire' as aquire;

$margin: layout.$pageHeaderMargin;

.container {
  margin: $margin auto;
  width: calc(100% - (2 * $margin));
  max-width: layout.$pageHeaderWidth;
  height: layout.$pageHeaderHeight;
  border-radius: 30px;
  border-width: 1px;
  position: fixed;
  z-index: 1000;

  & > header {
    max-width: none;
  }
}

.menu {
  margin-top: $margin;
}

.brand {
  @include aquire.regular;
}

.btn {
  color: colors.$background;
  background-color: colors.$foreground;
}
