:root {
  --main_color: white;
  --primary_color: black;
  --accent_color: #6495ed;
  --secondary_color: #555;
  --divider_color: #999;

  font-size: 16px;
  font-weight: 500;

  @media (max-width: 500px) {
    font-size: 12px;
  }
}
