@import '../../styles/lib';
@import '../../styles/vars';

.cv-wrapper {
  backdrop-filter: brightness(0.25);

  &__content {
    padding: $paperPadding;
    max-width: $paperWidth;
    background-color: $main;
    color: $primary;
    font-family: 'Montserrat', sans-serif;

    @media (max-width: 400px) {
      padding: 3rem;
    }
  }

  &__container {
    @media (max-width: $smallerThanA4) {
      @include flex(column);
    }
  }

  &__row {
    @media (max-width: $smallerThanA4) {
      padding: 0;
    }
  }

  &__aside {
    width: 30%;

    @media (max-width: $smallerThanA4) {
      width: 100%;
    }
  }

  &__article {
    width: 65%;

    @media (max-width: $smallerThanA4) {
      width: 100%;
    }
  }
}
