@import '../../styles/lib';
@import '../../styles/vars';

.project {
  padding: 0 1rem;
  border-left: 1px solid $divider;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__name {
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  &__summary {
    padding-bottom: 0.5rem;
  }

  &__stack {
    font-style: italic;
    font-weight: 500;
    color: $secondary;
  }
}
