@font-face {
  font-family: Aquire;
  src: url('/fonts/aquire-light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Aquire;
  src: url('/fonts/aquire-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Aquire;
  src: url('/fonts/aquire-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@mixin light() {
  font-family: Aquire, sans-serif;
  font-style: normal;
  font-weight: lighter;
}

@mixin regular() {
  font-family: Aquire, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin bold() {
  font-family: Aquire, sans-serif;
  font-style: normal;
  font-weight: bold;
}

@mixin all() {
  font-family: Aquire, sans-serif;
}
