<li class="cv-project" *appCvLink="project.link">
  @if (project.name) {
    <p class="uppercase text-sm">{{ project.name }}</p>
  }
  <p class="pb-1"><span class="font-bold">Domain:</span> {{ project.domain }}</p>
  <p class="pb-2"><span class="font-bold">Role:</span> {{ project.role }}</p>
  @if (project.responsibilities.length) {
    <ul class="pb-2">
      @for (responsibility of project.responsibilities; track responsibility) {
        <li class="list-disc mr-1 ml-3">{{ responsibility }}</li>
      }
    </ul>
  }
  <p>
    <span class="font-bold">Stack: </span><span class="italic">{{ stack }}</span>
  </p>
</li>
