@import '../../../styles/lib';
@import '../../../styles/vars';

.education-block {
  @include flex(row, space-between, flex-start);
  padding: 0.5rem 0;

  @media (max-width: $paperHalfWidth) {
    @include flex(column-reverse);
  }

  &:not(:first-child) {
    margin-top: 0.5rem;
  }

  & p {
    margin: 0;
    padding: 0.2rem 0;
  }

  &__info {
    width: 60%;

    @media (max-width: $paperHalfWidth) {
      width: 100%;
    }
  }

  &__place {
    text-transform: uppercase;
  }

  &__title {
    color: $accent;
  }

  &__location {
    @include flex(row, flex-start, center);
    font-size: 1rem;

    & .icon {
      width: 1rem;
      height: 1rem;
      margin-right: 0.25rem;
    }
  }

  &__date {
    @include flex(row, flex-end, center);
    padding: 0.2rem 0;
    color: $secondary;
    width: 40%;

    @media (max-width: $paperHalfWidth) {
      justify-content: flex-start;
      width: 100%;
    }

    &__icon {
      margin-right: 0.3em;
    }
  }
}
