<div class="education-block">
  <div class="education-block__info">
    <p class="education-block__title">{{ title }}</p>
    <p class="education-block__place">{{ place }}</p>
    <p class="education-block__location">
      <span class="material-symbols-outlined inherit">location_on</span>{{ location }}
    </p>
  </div>
  <div class="education-block__date">
    <span class="material-symbols-outlined inherit education-block__date__icon"
      >calendar_today</span
    >
    <span>{{ dates }}</span>
  </div>
</div>
