<div class="education-block">
  <div class="education-block__info">
    <p class="education-block__place">{{ place }}</p>
    <p class="education-block__title">{{ title }}</p>
    <p class="education-block__location">
      <svg class="icon" viewBox="0 0 24 24" aria-label="location icon">
        <use href="{{ locationSvgPath }}"></use>
      </svg>
      {{ location }}
    </p>
  </div>
  <div class="education-block__date">
    <svg class="education-block__date__icon icon" viewBox="0 0 24 24" aria-label="calendar icon">
      <use href="{{ calendarSvgPath }}"></use>
    </svg>
    <span>{{ dates }}</span>
  </div>
</div>
