@import '../../../styles/lib';
@import '../../../styles/vars';

.experience-block {
  padding: 1rem 0;
  margin: 0;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  &__info {
    @include flex(row, space-between, flex-start);

    @media (max-width: $paperHalfWidth) {
      flex-direction: column;
    }
  }

  &__position {
    text-transform: uppercase;
    margin: 0;
    padding: 0.2rem 0;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__company {
    color: $accent;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  &__date {
    @include flex(row, flex-end, center);
    color: $secondary;

    @media (max-width: $paperHalfWidth) {
      margin-top: 0.5rem;
      align-items: flex-start;
    }

    &__icon {
      margin-right: 0.5em;
    }
  }
}
