<div class="cv-education flex flex-row justify-between items-start my-2">
  <div class="cv-education__info">
    <p class="uppercase">{{ education.place }}</p>
    <p class="cv-education__title text-sm">{{ education.title }}</p>
    <p class="flex flex-row items-center text-xs pt-1 mb-2">
      <app-cv-svg type="location" className="size-3 mr-1" />
      {{ education.location }}
    </p>
  </div>
  <div class="cv-education__date flex flex-row justify-end items-center">
    <app-cv-svg type="calendar" className="size-3 mr-1" />
    <span>{{ education.dates }}</span>
  </div>
</div>
