@use 'styles/lib' as lib;
@use 'styles/text' as text;
@use 'styles/colors' as colors;

.container {
  gap: 1rem;
  @include lib.flex(column, center);
}

.code {
  margin: 1rem 0;
  width: 100%;
  @include text.md;

  @include lib.mobile() {
    @include text.sm;
  }

  &Func {
    background: linear-gradient(90deg, #a7d575 -45%, #52abc4 125%);;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &Variable {
    background: linear-gradient(90deg, #37eaf7 -45%, #c624ee 125%);;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.summary {
  @include text.sm;

  @include lib.mobile() {
    @include text.xs;
  }
}
